extends layout
//- !!!A terminer:
//- responsive du logo
//- chemin de /bootstrap.min.css  en 404

block content
  header
    div(class="container d-flex flex-column bg-dark  align-items-center ")
      
        //- img(src="images/logo-no-background-small.png" class="col d-flex fflex-shrink-5 img-fluid" alt="")
        h1(class="h1text-secondaryf d-flex flex-grow-1 align-self-center") PIZZAHUTTE
        h1(class="h1text-secondaryf d-flex flex-grow-1 ") PIZZAHUTTE
        
  main 
    div(class="container text-center")
      form(class="m-auto")
        // Email input
        .form-outline.mb-4
          input#form2Example1.form-control(type='email')
          label.form-label(for='form2Example1') Email
        // Password input
        .form-outline.mb-4
          input#form2Example2.form-control(type='password')
          label.form-label(for='form2Example2') Mot de passe
        // 2 column grid layout for inline styling
        div.d-flex.flex-row
        button.btn.btn-primary.btn-block.mp-10.text-center(type='button') Se connecter
        .text-center.mt-3
        a.text-center(href='#!') Mot de passe oublié ?
    
