h1 {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: xx-large;
  color: blue;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


a {
  color: #00B7FF;
}